---
- name: Primary playbook
  hosts: localhost
  vars:
    ansible_connection: local
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
    code_path: "{{ lookup('ansible.builtin.env', 'CODE_PATH', default='~/workspace') }}"
    dive_version: 0.13.1
    home: "{{ lookup('ansible.builtin.env','HOME', default='~') }}"
    config_dir: "{{ lookup('ansible.builtin.env', 'XDG_CONFIG_HOME') | default(home, true) + '/.config' }}"
    signing_keys:
      epel:  # https://getfedora.org/security/
        "8":
          key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-8
          fingerprint: 94E279EB8D8F25B21810ADF121EA45AB2F86D6A1
        "9":
          key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9
          fingerprint: FF8AD1344597106ECE813B918A3872BF3228467C
  tasks:
    - name: Debug info
      ansible.builtin.debug:
        msg: "{{ ansible_facts }}"
      tags: [never, debug]
    - name: Debug info - ansible_architecture
      ansible.builtin.debug:
        var: ansible_architecture
      tags: [never, debug]
    - name: Debug info - ansible_distribution
      ansible.builtin.debug:
        var: ansible_distribution
      tags: [never, debug]
    - name: Debug info - ansible_distribution_major_version
      ansible.builtin.debug:
        var: ansible_distribution_major_version
      tags: [never, debug]

    # https://www.freedesktop.org/software/systemd/man/sd_booted.html
    - name: All - Check if systemd is running
      tags: [always]
      ansible.builtin.stat:
        path: /run/systemd/system/
      register: stat_run_systemd

    # Not all packages can be installed in WSL
    - name: All - Check if running in WSL
      tags: [always]
      ansible.builtin.set_fact:
        running_in_wsl: "{{ ansible_kernel.endswith('-WSL') or ansible_kernel.endswith('-WSL2') }}"

    - name: Ensure "systemd=true is in section "[boot]" in /etc/wsl.conf
      become: true
      community.general.ini_file:
        path: /etc/wsl.conf
        section: boot
        option: systemd
        value: 'true' # type: string
        mode: '0644'
      when: running_in_wsl

    ### --- System ---
    - name: Repositories
      tags: [system, dev, repo]
      become: true
      ansible.builtin.import_tasks: tasks/system_repositories.yml

    - name: Packages
      tags: [system, dev, packages]
      become: true
      ansible.builtin.import_tasks: tasks/system_packages.yml

    - name: Systemd - system
      ansible.builtin.import_tasks: tasks/system_systemd.yml
      tags: [system, systemd]
      become: true

    - name: Automatic Updates
      tags: [system, updates]
      become: true
      ansible.builtin.import_tasks: tasks/system_auto_updates.yml

    ### --- Userspace ---
    # Install dotfiles first so CI can detect drift
    - name: User dotfiles
      ansible.builtin.import_tasks: tasks/user_dotfiles.yml
      tags: [user, dotfiles]
    - name: User applications
      ansible.builtin.import_tasks: tasks/user_applications.yml
      tags: [user, applications]
    - name: User UI
      ansible.builtin.import_tasks: tasks/user_ui.yml
      tags: [user, ui]
    - name: User systemd
      ansible.builtin.import_tasks: tasks/user_systemd.yml
      tags: [user, systemd]
      when:
        - stat_run_systemd.stat.exists
        - stat_run_systemd.stat.isdir
